<% content_for :login do %>
  <div class="container">
    <div class="align-bottom col-6 mx-auto">
      <div id="login_box" class="row rounded button align-bottom" style="background-color:rgba(0, 0, 0, 0.3);">
        <h3 class="text-center">Login To Report A Bug</h3>
        <div class="text-center">

          <%= form_with url: client_login_path  do |f| %>  
            <%= render partial: 'users/login_form', locals: {f: f, submit_text: "Login"} %>
          <% end %>
          <%= render partial: 'users/signup_link', locals: {path: client_signup_path} %>
          <%= render 'users/google_oauth' %>
        </div>
        
      </div>
    </div>
  </div> 
<% end %>
 



