<div class="card text-white bg-secondary mt-3">
  <div class="card-header text-center"><%= render partial: 'program_logo', locals: {program: program} %></div>
  <h5 class="card-title text-center"><%= link_to program.name, program %></h5>
</div>


