<h1>Programs Currently Supported</h1>

<%= link_to("New Program", new_program_path, class: "btn btn-primary") if admin? %>

<%= render @programs %>
<h3> <%= "Currently No Programs" if !@programs.present? %> </h3>



