<br><br><br>
<nav class="navbar navbar-dark bg-dark">
  Home
 </nav>
 
 <nav class="navbar navbar-dark bg-primary">
   testing
 </nav>
 
 <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
   work please
 </nav>
<%= button_to "Log Out", logout_path %>

