<!-- Render the partial that displays users-->
<!-- Render partial do show search fields-->
<h3>Employees:</h3>
  <%= form_tag users_path, method: "post" do %>
    Current Filter: <%= @filter %>
    <%= link_to "See All Employees", users_path, class: "btn btn-sm btn-primary" %>
  <% end %>
  
  <%= render partial: 'employee_list', locals: {users: @users} %>