<div class="container text-white text-center mt-5">
  <%= render partial: 'bug_title', locals: {title: choose_title(@program, @user)} %>
  
  <div class="container mt-3">
    <% @bugs.each do |status, bugs| %> <!-- go through each bug status and display those bugs if present-->
      <%= render partial: 'display_bugs', locals: {status: status, bugs: bugs} %>
    <% end %>
  </div>
  
  <%= link_to("Report Bug for #{@program.name}", new_program_bug_path(@program), class: "btn btn-sm btn-primary mt-5") if @program %>
</div>
