@import "bootstrap/scss/bootstrap"; // imports bootstrap into the main layout page
@import "bugs";
@import "programs";
@import "sessions";
@import "users";

body {
  background: rgb(30, 30, 30);
  padding-left: 170px;
 
}
a, a:hover {
  color: rgb(0, 43, 63);

}
.container-fluid{
  padding:0;
}
.field-with-errors {
  background-color: red;
  display: table;
}
.bg-img{
  background-image: url('bg_login.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.but_to_link {
  background: none!important;
  border: none;
}
.button {
  padding: 10px 30px 10px 30px;
}

// navbar css
.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #002c45;
  color: #fff;
  transition: all 0.3s;
}
.border {
  border-style: solid;
  color: rgb(209, 209, 209);
  box-shadow: rgba(0, 196, 226, 0.58);
}
.white {
  color: white;
}



// found instructions on how set up bootstrap with rails 6 at:
// https://blog.makersacademy.com/how-to-install-bootstrap-and-jquery-on-rails-6-da6e810c1b87
// Found many different sources for html and bootstrap that I was able to copy and piece together
// including startbootstrap.com and https://www.atlascode.com/blog/bootstrap-fixed-width-sidebars/

// below gave me the each_splice to get 3 columns together while iterating
// https://stackoverflow.com/questions/24914494/render-partial-in-two-columns-using-bootstrap