@import "bootstrap/scss/bootstrap"; // imports bootstrap into the main layout page
@import "bugs";
@import "programs";
@import "sessions";
@import "users";

.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}


// found instructions on how set up bootstrap with rails 6 at:
// https://blog.makersacademy.com/how-to-install-bootstrap-and-jquery-on-rails-6-da6e810c1b87