@import "bootstrap/scss/bootstrap"; // imports bootstrap into the main layout page
@import "bugs";
@import "programs";
@import "sessions";
@import "users";

.container-fluid{
  padding:0;
}
.field-with-errors {
  background-color: red;
  display: table;
}
.bg-img{
  background-image: url('bg_login.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.but_to_link {
  background: none!important;
  border: none;
}
.button {
  padding: 10px 30px 10px 30px;
}



// found instructions on how set up bootstrap with rails 6 at:
// https://blog.makersacademy.com/how-to-install-bootstrap-and-jquery-on-rails-6-da6e810c1b87