<li class="nav-item">
  <%=  button_to "Logout", logout_path, class: "nav-link but_to_link text-white"  %>
  <%=  link_to "Programs", programs_path, class: "nav-link but_to_link text-white"  if current_user.role === "Client" %>

</li>