<% if flash.any? %> <!-- checks for any flash messages -->
  <% flash.each do |type, mes| %> <!-- iterates through each one present-->
    <div class="alert alert-danger text-center mb-0"><%= mes %></div> <!-- creates a div with type of alert and displays message-->
  <% end %>
<% end %>
